div {
  padding: 30px;
  div {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  :hover {
    width: 300px;
  }
}
article{
    padding: 30px;
  div {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  :hover {
    width: 150px;
  height: 150px;
  transform: rotate(180deg);
  }
}
